.button {
    -fx-background-color: #ed7d31ff;
    -fx-background-radius: 50%;
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.button:hover {
    -fx-text-fill: black;
    -fx-background-color: #ed7d3190;
}